In [12]:
import pandas as pd
import numpy as np
import json
import requests

In [44]:
## csv파일 열기 (encoding 옵션은 종류에 따라 수정)
file = pd.read_csv('./전처리전음식점.csv', encoding = 'utf-8')

In [45]:
file

                                      소재지
0     인천광역시 중구 신포로23번길 20, 1,2,3층 (중앙동4가)
1        인천광역시 중구 도원로8번길 68, 1~2층 (신흥동3가)
2                          인천광역시 중구 경동 4
3                   인천광역시 중구 경동 200-9 /1
4          인천광역시 중구 개항로53번길 10, 1~2층 (내동)
..                                    ...
359         인천광역시 중구 용유서로 386, 1,2층 (을왕동)
360        인천광역시 중구 신포로46번길 35, 1,2층 (내동)
361           인천광역시 중구 우현로 81, 1,2층 (인현동)
362  인천광역시 중구 영종대로 166, 128,129호 일부 (운서동)
363        인천광역시 중구 답동로30번길 23, 101호 (경동)

[364 rows x 1 columns]

In [46]:
file['소재지'][1].find(",")
file['소재지'][1][:18]

'인천광역시 중구 도원로8번길 68'

In [47]:
for i in range(len(file)):
    if ',' in (file['소재지'][i]):
        a = file['소재지'][i].find(",")
        file['소재지'][i] = file['소재지'][i][:a]
    else:
        continue

In [48]:
file

                       소재지
0      인천광역시 중구 신포로23번길 20
1       인천광역시 중구 도원로8번길 68
2           인천광역시 중구 경동 4
3    인천광역시 중구 경동 200-9 /1
4      인천광역시 중구 개항로53번길 10
..                     ...
359      인천광역시 중구 용유서로 386
360    인천광역시 중구 신포로46번길 35
361        인천광역시 중구 우현로 81
362      인천광역시 중구 영종대로 166
363    인천광역시 중구 답동로30번길 23

[364 rows x 1 columns]

In [50]:
file.to_csv("./중구음식점_전처리후.csv", encoding = "CP949")

In [26]:
addr = '인천 중구 월미로 246'
url='https://dapi.kakao.com/v2/local/search/address.json?query=' + addr
headers = {"Authorization": "KakaoAK 057873079626a592436710b8c7b612e8"}
result = json.loads(str(requests.get(url, headers=headers).text))
match_first = result['documents'][0]['address']

print(match_first)

{'address_name': '인천 중구 북성동1가 98-327', 'b_code': '2811013800', 'h_code': '2811060000', 'main_address_no': '98', 'mountain_yn': 'N', 'region_1depth_name': '인천', 'region_2depth_name': '중구', 'region_3depth_h_name': '북성동', 'region_3depth_name': '북성동1가', 'sub_address_no': '327', 'x': '126.598755013547', 'y': '37.474234092753'}

In [33]:
# 만약 찾지 못할 경우, 이전 위경도로 저장되므로 중복처리 한번 해줘야 함

for i in range(len(file)):
    # ---이부분은 생략가능(얼마나 진행됬는지 확인)---
    if (i%1000 == 0):
        print(str(i)+" rows done")
    # ------------------------------------------------
    try:
        match_first= {'x': 0, 'y': 0}
        addr = file['소재지'][i]
        url='https://dapi.kakao.com/v2/local/search/address.json?query=' + addr
        headers = {"Authorization": "KakaoAK 057873079626a592436710b8c7b612e8"}
        result = json.loads(str(requests.get(url, headers=headers).text))
        match_first = result['documents'][0]['address']

        ## 데이터 추가
        file['위도'][i] = match_first['y']
        file['경도'][i] = match_first['x']
        
    except IndexError:
        pass

0 rows done

<ipython-input-33-d740a183be84>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file['위도'][i] = match_first['y']
<ipython-input-33-d740a183be84>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file['경도'][i] = match_first['x']

1000 rows done
2000 rows done

In [34]:
file

,업종명,업소명,소재지,소재지전화번호,데이터기준일자,위도,경도
0,일반음식점,진흥각,"인천광역시 중구 신포로23번길 20, 1,2,3층 (중앙동4가)",032-772-3058,2020-09-15,NaN,NaN
1,일반음식점,신성루,인천광역시 중구 우현로 19-14 (신생동),032-772-4463,2020-09-15,37.469782,126.626424
2,일반음식점,평양옥,"인천광역시 중구 도원로8번길 68, 1~2층 (신흥동3가)",032-882-2972,2020-09-15,NaN,NaN
3,일반음식점,대성불고기,"인천광역시 중구 신포로27번길 29-1, 1,2층 (중앙동3가)",032-772-1504,2020-09-15,37.472121,126.623601
4,일반음식점,다복집,인천광역시 중구 우현로39번길 8-2 (신포동),032-773-2416,2020-09-15,37.470984,126.626961
...,...,...,...,...,...,...,...
2692,일반음식점,루트(Route)70,"인천광역시 중구 을왕로 70, 3층 (을왕동)",NaN,2020-09-15,37.449521,126.370321
2693,일반음식점,밥도둑 술고래,"인천광역시 중구 은하수로 3, 영종관광어시장 1층 119호 (중산동)",NaN,2020-09-15,37.491509,126.581862
2694,일반음식점,베이글닥 운서1호점,"인천광역시 중구 햇내로13번길 17, 프라임시티Ⅰ 1층 108호 (운서동)",032-746-2233,2020-09-15,37.491012,126.495287
2695,일반음식점,부라더푸드,"인천광역시 중구 운서로63번길 3-6, 1층 103호 (운서동)",NaN,2020-09-15,37.496992,126.503117
2696,일반음식점,공항셀프라면,"인천광역시 중구 흰바위로 31, 에어로시티 2층 202호 (운서동)",032-746-3360,2020-09-15,37.492767,126.488461

NameError: name 'file1' is not defined

In [35]:
file.to_csv("./중구일반음식점.csv", encoding = "CP949")